{% extends "layout.html" %}

{% block title %}
    customise
{% endblock %}

{% block main %}

<form action="/customise" method="POST">
    <ul class="manyinput">
        {% for input in input_names %}
            <li style="margin:20px">
                <label>{{ input }}</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="{{ input }}" placeholder= "input" type="text">
            </li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary" type="submit">ESTIMATE</button>
    <br><br>
</form>
    {% if predicted %}
        <h2>The lowest possible cost is {{ predicted }}</h2>
    {% endif %}
{% endblock %}

