{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <ul class="m-3 nav text-light">
        <li class="m-3 nav text-light">
            <div>
                <h3 style="color:black">SEARCH HOUSES ON SALE</h3>
                <form action="/houses" method="post" class="form-inline">
                    <div class="form-row">
                        <div class="mb-3 col">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="price" placeholder="Max-price" type="text">
                        </div>
                        <div class="mb-3 col">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="bedrooms" placeholder="bedrooms" type="text">
                        </div>
                        <div class="mb-3 col">
                            <div class="checkboxes">
                                <label style="color:black"><input type="checkbox" value=1 name="waterfront"> <span>Waterfront?</span></label>
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <div class="checkboxes">
                                <label style="color:black"><input type="checkbox" value=1 name="view"> <span>View?</span></label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">FILTER</button>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div>
                <h3 style="color:black">SAVE A HOUSE FOR LATER</h3>
                <form action="/selectHouse" method="post" class="form-inline">
                    <div class="mb-3 col">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="house_id" placeholder="Save Id" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">SAVE</button>
                </form>
            </div>
        </li>



    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">price</th>
            <th scope="col">bedrooms</th>
            <th scope="col">sqft total</th>
            <th scope="col">Waterfront</th>
            <th scope="col">View</th>
            <th scope="col">floors</th>
            <th scope="col">condition</th>
            <th scope="col">year built</th>
            <th scope="col">zipcode</th>
          </tr>
        </thead>
        <tbody>
            {% for house in houses %}
                <tr>
                    <td>{{ house["id"] }}</td>
                    <td>{{ house["price"] }}</td>
                    <td>{{ house["bedrooms"] }}</td>
                    <td>{{ house["sqft_living"] }}</td>
                    <td>{{ house["waterfront"] }}</td>
                    <td>{{ house["view"] }}</td>
                    <td>{{ house["floors"] }}</td>
                    <td>{{ house["condition"] }}</td>
                    <td>{{ house["yr_built"] }}</td>
                    <td>{{ house["zipcode"] }}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}